<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdbiosensor.covicatch">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Covid_form"
        android:requestLegacyExternalStorage="true"
        >
        <activity android:name=".screens.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.StartActivity"/>
        <activity android:name=".screens.TimerActivity"/>
        <activity android:name=".screens.InstructionActivity" />
        <activity android:name=".screens.AgreementActivity" />
        <activity android:name=".screens.PleaseWaitActivity" />
        <activity android:name=".screens.ReportActivity" />
        <activity android:name=".screens.RegisterActivity" />
        <activity android:name=".screens.OptionsActivity" />
        <activity android:name=".screens.FormActivity" />
        <activity android:name=".screens.FormProfileActivity" />
        <activity android:name=".screens.SelectLanguageActivity" />
        <activity android:name=".screens.LoginActivity" />
        <activity android:name=".screens.LoginOtpActivity" />
        <activity android:name=".screens.PdfCreatorActivity" />
        <activity android:name=".screens.HistoryActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:process=":remote"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>